<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 아이콘(FontAwesome) 가져오기 -->
    <script src="https://kit.fontawesome.com/a10a255d3b.js" crossorigin="anonymous"></script>

    <!-- css 가져오기-->
    <link rel="stylesheet" th:href="@{/css/header.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/default.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css" />
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon" />

    <title>Stylog</title>
</head>

<body>
    <main class="login_wrapper container">
        <section class="left_con">
            <img class="preview_img" th:src="@{/img/login_preview.png}" alt="플랫폼 사용 화면 미리보기">
			<!--이 이미지는 지금은 없음-->
        </section>

        <section class="right_con">
            <div class="logo_box">
                <img th:src="@{/img/logo.png}" alt="logo_img" class="logo_img">
            </div>
            
            <form method="POST" th:action="@{/stylog/login}" th:object="${user}">
                <div class="ID_wrapper">
                    <fieldset class="ID_field">
                        <input type="text" placeholder="이메일" class="ID_field_text" th:field="*{email}" />
                    </fieldset>
                </div>
                <div class="PW_wrapper">
                    <fieldset class="PW_field">
                        <input type="password" placeholder="비밀번호" class="PW_field_text" th:field="*{password}" />
                    </fieldset>
					<!-- 오류 메세지 -->
					<p th:if="${loginError}" th:text="${loginError}" style="color: red; margin-bottom: 10px;"></p>
                </div>
				
                <div class="find_wrapper">
                        <a th:href="@{/find_pw}"> <!--find_pw는 아직 안 만듦-->
                            <span>비밀번호를 잊으셨나요?</span>
                        </a>
                </div>
    
                <div class="finish_login_wrapper">
                    <button type="submit" class="finish_login">
                        <span class="finish_login_title"> 로그인 </span>
                    </button>
                </div>
            </form>
    
            <div class="login_or">
                <div class="border">
                    <span class="login_or_title">또는</span>
                </div>
            </div>
    
            <div class="goto_join">
                <span>아직 회원이 아니신가요?&nbsp;</span>
                <a th:href="@{/stylog/sign_up}">
                    <span class="non_member_login_title"> 가입하기 </span>
                </a>
            </div>
        </section>
    </main>
    <footer> <!--이 부분은 footer로 뜯어내기-->
        <span>Stylog 소개</span>
        <span>약관</span>
        <span>&copy;2025_Stylog_3B그로위즈팀</span>
    </footer>
</body>
</html>